extends ../layouts/app

block script
  script(src="/js/vendor/moment.min.js")

block content
  - var retiredAmountSumm = 0;
  - var receivedAmountSumm = 0;
  - var startYear   = 2016;
  - var currentYear = new Date().getFullYear();
  article.content
    header
      h2 Отчет о ДДС
        button(type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modalOdds" style="margin-left: 15px") Добавить
        button(type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modalOddsBalance") Остаток
      //- Modal
      .modal.fade#modalOdds(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
              h4(class="modal-title" id="myModalLabel") Добавить запись
            .modal-body
              form(action="/dashboard/odds/store", id="form-odds" method="POST", style="margin: 0;")
                input(type="hidden", name="_csrf", value="#{csrf}")
                fieldset
                  legend Поступило
                  .form-group
                    label(for="odds-date") Дата:
                    input(type="text", name="date", id="odds-date", value="#{ moment().locale('ru').format('L') }").form-control.makdoors-datepicker
                  .form-group
                    label(for="odds-received-amount") Сумма (р.):
                    input(type="text", name="receivedAmount", id="odds-received-amount").form-control
                  .form-group
                    label(for="odds-received-comment") Комментарий (р.):
                    textarea(name="receivedComment", id="odds-received-comment").form-control
                fieldset
                  legend Выбыло
                  .form-group
                    label(for="odds-retired-amount") Сумма (р.):
                    input(type="text", name="retiredAmount", id="odds-retired-amount").form-control
                  .form-group
                    label(for="odds-retired-comment") Комментарий (р.):
                    textarea(name="retiredComment", id="odds-retired-comment").form-control
            .modal-footer
              button(type="button" class="btn btn-default" data-dismiss="modal") Закрыть
              button(type="button" class="btn btn-primary btn-odds-send") Добавить в отчет
      //- Modal
      .modal.fade#modalOddsBalance(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
              h4(class="modal-title" id="myModalLabel") Остаток
            .modal-body
              form(action="/dashboard/odds/setBalance", id="form-oddsBalance" method="POST", style="margin: 0;")
                input(type="hidden", name="_csrf", value="#{csrf}")
                .form-group
                  label(for="oddsBalance-date") Дата:
                  input(type="text", name="date", id="oddsBalance-date", value="#{ moment().locale('ru').format('L') }").form-control.makdoors-datepicker
                .form-group
                  label(for="oddsBalance-balance") Сумма (р.):
                  input(type="text", name="balance", id="oddsBalance-balance").form-control
            .modal-footer
              button(type="button" class="btn btn-default" data-dismiss="modal") Закрыть
              button(type="button" class="btn btn-primary btn-oddsBalance-send") Добавить в отчет
    table.table.table-bordered.text-center
      thead
        tr.no-print
          th(colspan="7")
            form(action="/dashboard/odds/filter", name="odds", id="form-odds-filter" method="POST", style="margin: 0;").form-inline
              fieldset
                input(type="hidden", name="_csrf", value="#{csrf}")
                .form-group
                  label(for="odds-year") Год:
                  select(name="year", id="odds-year").form-control
                    while startYear <= currentYear
                      option= startYear++
                .form-group
                  label(for="odds-mounth") Месяц:
                  select(name="mounth", id="odds-mounth").form-control
                    option(value="1") Январь
                    option(value="2") Февраль
                    option(value="3") Март
                    option(value="4") Апрель
                    option(value="5") Май
                    option(value="6") Июнь
                    option(value="7") Июль
                    option(value="8") Август
                    option(value="9") Сентябрь
                    option(value="10") Октябрь
                    option(value="11") Ноябрь
                    option(value="12") Декабрь
                .form-group.pull-right
                  input(type="submit", name="submit", class="btn btn-primary btn-odds-filter", value="Показать")
        tr
          th(colspan="4").text-center Поступило
          th(colspan="3").text-center Выбыло
        tr
          th.text-center #
          th.text-center Дата
          th.text-center Сумма (р.)
          th.text-center Комментарий
          th.text-center Сумма (р.)
          th.text-center Комментарий
          th(colspan="1", width="230")
      tbody
        if (Array.isArray(oddss) && !!oddss.length)
          each odd, index in oddss
            - receivedAmountSumm += odd.receivedAmount != null ? parseInt(odd.receivedAmount) : 0;
            - retiredAmountSumm += odd.retiredAmount != null ? parseInt(odd.retiredAmount) : 0;
            tr
              td= index + 1
              td= moment(odd.date).locale('ru').format('L')
              td= odd.receivedAmount != null ? parseInt(odd.receivedAmount) : 0
              td= odd.receivedComment
              td= odd.retiredAmount != null ? parseInt(odd.retiredAmount) : 0
              td= odd.retiredComment
              td.text-right
                if (req.user.group === 'manager' || req.user.group === 'accountant')
                  a(href="/dashboard/odds/destroy/#{odd.id}").btn.btn-danger
                    i.fa.fa-trash
        else
          tr
            td(colspan="8").text-center
              i.fa.fa-cart
              | На данный момент отчетов нет
      tfoot()
        tr
          td(colspan="5")
          td(colspan="3")
            table.table.table-bordered
              tbody
                tr
                  td Остаток:
                  if (Array.isArray(oddsBalance) && !!oddsBalance.length)
                    td= `${oddsBalance[oddsBalance.length - 1].balance}р`
                  else
                    td 0р
                tr
                  td Итого поступило:
                  td= `${receivedAmountSumm} р.`
                tr
                  td Итого выбыло:
                  td= `${retiredAmountSumm} р.`
                tr
                  td Итого в кассе:
                  td= `${receivedAmountSumm - retiredAmountSumm} р.`
