extends ../layouts/app

block content
  //-- BEGIN JIVOSITE CODE
  script.
    (function(){ var widget_id = 'Z5xSor6q46';var d=document;var w=window;function l(){
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
  //-- {/literal} END JIVOSITE CODE -->
  #page.container(style="margin-top: 50px;")
    if (Array.isArray(news) && !!news.length)
      each item, index in news
        article
          header.text-center
            h4= item.name
            p.date= `( ${moment(item.createdAt).locale('ru').format('L')} )`
          section!= item.content
          hr
