extends ../layouts/app

block content
  form(action="/dashboard/attributes/update", method="POST")
    fieldset
      legend Редактирование атрибута
      p.form-group
        label(for="attr-name") Название
        input(type="text", name="name", placeholder="Название атрибута", id="attr-name", value="#{ !!attribute.name.length ? attribute.name : '' }").form-control
      p.form-group
        label(for="attr-group") Группа
        select(name="group", id="attr-group").form-control
          option(value="0") Нет
          if (Array.isArray(attributeGroups) && !!attributeGroups.length)
              each group, index in attributeGroups
                if (attribute.group.indexOf(group.id) !== -1)
                  option(value="#{group.id}", selected)= group.name
                else
                  option(value="#{group.id}")= group.name
      p.form-group
        label(for="attr-group") Продукт
        select(name="product", id="attr-product", multiple="multiple").form-control
          if (Array.isArray(products) && !!products.length)
            each product, index in products
              if (attribute.product.indexOf(product.id) !== -1)
                option(value="#{product.id}", selected)= product.name
              else
                option(value="#{product.id}")= product.name
      p.form-group
        input(type="hidden", name="id", value="#{attribute.id}")
        input(type="hidden", name="_csrf", value="#{csrf}")
        input(type="submit", name="submit", value="Сохранить").btn.btn-default.btn-primary