extends ../layouts/app

block content
  article.content
    header
      h1 Атрибуты
        a(href="/dashboard/attributes/create").btn.btn-primary.pull-right
          i.fa.fa-plus
          | Добавить
    table.table
      thead
        tr
          th #
          th Название
          th Группа
          th(colspan="2") Продукт
      tbody
        if (Array.isArray(attributes) && !!attributes.length)
          each attribute, index in attributes
            tr
              td= index + 1
              td= attribute.name
              each group, index in attributeGroups
                if (group.id === attribute.group[0])
                  td= group.name
              each product, index in products
                if (product.id === attribute.product[0])
                  td= product.name
              td.table-controls
                a(href="/dashboard/attributes/edit/#{attribute.id}").btn.btn-default.btn-primary
                  i.fa.fa-pencil
                a(href="/dashboard/attributes/destroy/#{attribute.id}").btn.btn-default.btn-danger
                  i.fa.fa-trash
        else
          tr
            td(colspan="4").text-center На данный момент раздел пуст
