extends ../layouts/app

block main
  h2 Новая статья

block content
  form(action="/dashboard/articles/store", method="POST")
    .row.form-horizontal#form-info
      fieldset.col-lg-6
        legend Продавец
        .form-group
          label(for="departamentId").control-label.col-sm-3 ID отдела:
          .col-sm-6
            input(type="text", name="departamentId", placeholder="ID отдела", id="departamentId").form-control
        .form-group
          label(for="departament").control-label.col-sm-3 Отдел:
          .col-sm-6
            input(type="text", name="departament", placeholder="Отдел", id="departament").form-control
        .form-group
          label(for="additionalInfo").control-label.col-sm-3.label-two-line Дополнительная информация:
          .col-sm-6
            input(type="text", name="additionalInfo", placeholder="Дополнительная информация", id="additionalInfo").form-control
        .form-group
          label(for="product").control-label.col-sm-3 Продукт:
          .col-sm-6
            select(name="product", placeholder="Продукт", id="product").form-control
              if (Array.isArray(products) && !!products.length)
                each product in products
                  option(value="#{product.name}", data-manufacture="#{product.manufactureDate}")= `${product.name} - ${moment(product.manufactureDate).format('L').replace(/\//g, '.')}`
      fieldset.col-lg-6
        legend Покупатель
        .form-group
          label(for="manufactureDate").col-sm-3.control-label.label-two-line Дата изготовления:
          .col-sm-6
            if (Array.isArray(products) && !!products.length)
              input(type="text", name="manufactureDate", placeholder="01.01.1999", id="manufactureDate", value="#{moment(products[0].manufactureDate).format('L').replace(/\//g, '.')}").form-control.makdoors-datepicker
            else
              input(type="text", name="manufactureDate", placeholder="01.01.1999", id="manufactureDate").form-control.makdoors-datepicker
        .form-group
          label(for="deliveryDate").col-sm-3.control-label Дата доставки:
          .col-sm-6
            input(type="text", name="deliveryDate", placeholder="01.01.1999", id="deliveryDate").form-control.makdoors-datepicker
        .form-group
          label(for="additionalInfo").col-sm-3.control-label ФИО
          .col-sm-6
            input(type="text", name="additionalInfo", placeholder="Иванов Иван Иванович", id="additionalInfo").form-control
        .form-group
          label(for="adress").col-sm-3.control-label Адрес:
          .col-sm-6
            input(type="text", name="adress", placeholder="ул. Иванова, 28", id="adress").form-control
        .form-group
          label(for="telephone").col-sm-3.control-label Телефон:
          .col-sm-6
            input(type="text", name="telephone", placeholder="+ 7 (XXX) XXX-XX-XX", id="telephone").form-control
      .form-group.col-lg-12
        label(for="order-comment") Комментарий к заказу:
        textarea(name="comment", id="order-comment", row="40", col="100").form-control
  .mkdr-tabs
    ul(role="tablist")#makdoorsTabs.nav.nav-tabs
      li(role="presentation").active
        a(href="#doors", role="tab", data-toggle="tab", aria-controls="doors", aria-expanded="true") Двери
      li(role="presentation")
        a(href="#pagonazh", role="tab", data-toggle="tab", aria-controls="pagonazh", aria-expanded="true") Пагонаж
      li(role="presentation")
        a(href="#furnityra", role="tab", data-toggle="tab", aria-controls="furnityra", aria-expanded="true") Фурнитура
    #makdoorsTabsContent.tab-content
      div(role="tabpanel")#doors.tab-pane.fade.in.active
        table.table.table-bordered.table-head-center
          thead
            tr
              th(colspan="5").text-center
                h5 Двери
              th(colspan="5").text-center
                button(type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDoors") Добавить
            tr
              th #
              th Модель
              th Размер
              th Цвет
              th Тип
              th Стекло
              th Кол-во
              th Цена
                br
                |( за ед )
              th Цена
                br
                |( итог )
          tbody
        //- Modal
        .modal.fade#modalDoors(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
          .modal-dialog(role="document")
            .modal-content
              .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
                h4(class="modal-title" id="myModalLabel") Добавить дверь:
              .modal-body
                .form-horizontal
                  .form-group
                    label(for="doorsModel").col-sm-3.control-label.label-two-line Модель:
                    .col-sm-6
                      input(type="text", name="doorsModel", placeholder="xxxxxx", id="doorsModel").form-control
                  .form-group
                    label(for="doorsSize").col-sm-3.control-label Размеры ( В x Ш ):
                    .row
                      .col-sm-2
                        input(type="text", name="doorsHeight", placeholder="100", id="doorsHeight").form-control
                      p(style="float: left;") x
                      .col-sm-2
                        input(type="text", name="doorsWidth", placeholder="100", id="doorsWidth").form-control
                  .form-group
                    label(for="doorsColor").col-sm-3.control-label Цвет
                    .col-sm-6
                      select(name="doorsColor", placeholder="Зеленый", id="doorsColor").form-control
                        option(value="нет") нет
                  .form-group
                    label(for="doorsOpen").col-sm-3.control-label Тип:
                    .col-sm-6
                      select(name="doorsOpen", placeholder="ул. Иванова, 28", id="doorsOpen").form-control
                        option(value="лево") Лево
                        option(value="право") Право
                        option(value="пара") Пара
                  .form-group
                    label(for="doorsGlass").col-sm-3.control-label Стекло:
                    .col-sm-6
                      select(name="doorsGlass", placeholder="стекло", id="doorsGlass").form-control
                        option(value="нет") нет
                  .form-group
                    label(for="doorsCount").col-sm-3.control-label.label-two-line Кол - во:
                    .col-sm-6
                      input(type="text", name="doorsCount", placeholder="xxxxxx", id="doorsCount").form-control
                  .form-group
                    label(for="doorsSinglePrice").col-sm-3.control-label.label-two-line Цена ( за ед ):
                    .col-sm-6
                      input(type="text", name="doorsSinglePrice", placeholder="xxxxxx", id="doorsSinglePrice").form-control
              .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") Отмена
                button(type="button" class="btn btn-primary") Добавить к заказу
      div(role="tabpanel")#pagonazh.tab-pane.fade
        table.table.table-bordered.table-head-center
          thead
            tr
              th(colspan="4").text-center
                h5 Пагонаж
              th(colspan="3").text-center
                button(type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalPagonazh") Добавить
            tr
              th #
              th Тип
              th Размер
              th Уплотнитель
              th Кол-во
              th Цена
                br
                |( за ед )
              th Цена
                br
                |( итог )
          tbody
        //- Modal
        .modal.fade#modalPagonazh(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
          .modal-dialog(role="document")
            .modal-content
              .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
                h4(class="modal-title" id="myModalLabel") Добавить пагонаж:
              .modal-body
                .form-horizontal
                  .form-group
                    label(for="pagonazhType").col-sm-3.control-label Тип:
                    .col-sm-6
                      select(name="pagonazhType", id="pagonazhType").form-control
                        option(value="Коробка") Коробка
                        option(value="Наличник") Наличник
                        option(value="Добор") Добор
                        option(value="Притвор") Притвор
                  .form-group
                    label(for="doorsSize").col-sm-3.control-label Размеры ( В x Ш ):
                    .row
                      .col-sm-3
                        select(name="pagonazhHeight", id="doorsHeight").form-control
                          option(value="2070") 2070
                          option(value="2140") 2140
                          option(value="2400") 2400
                      p(style="float: left;") x
                      .col-sm-2
                        input(type="text", name="pagonazhWidth", placeholder="100", id="doorsWidth", maxlength="3", pattern="\d").form-control
                  .form-group
                    label(for="pagonazhGaskit").col-sm-3.control-label Уплотнитель:
                    .col-sm-6
                      select(name="pagonazhGaskit", id="pagonazhGaskit").form-control
                        option(value="нет") нет
                        option(value="да") да
                  .form-group
                    label(for="pagonazhCount").col-sm-3.control-label.label-two-line Кол - во:
                    .col-sm-6
                      input(type="text", name="pagonazhCount", placeholder="xxxxxx", id="pagonazhCount").form-control
                  .form-group
                    label(for="pagonazhSinglePrice").col-sm-3.control-label.label-two-line Цена ( за ед ):
                    .col-sm-6
                      input(type="text", name="pagonazhSinglePrice", placeholder="xxxxxx", id="pagonazhSinglePrice").form-control
              .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") Отмена
                button(type="button" class="btn btn-primary") Добавить к заказу
      div(role="tabpanel")#furnityra.tab-pane.fade
        table.table.table-bordered.table-head-center
          thead
            tr
              th(colspan="5").text-center
                h5 Фурнитура
              th(colspan="2").text-center
                button(type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalFurnityra") Добавить
            tr
              th #
              th Элемент
              th Тип
              th Цвет
              th Кол-во
              th Цена
                br
                |( за ед )
              th Цена
                br
                |( итог )
          tbody
        //- Modal
        .modal.fade#modalFurnityra(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
          .modal-dialog(role="document")
            .modal-content
              .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
                h4(class="modal-title" id="myModalLabel") Добавить фурнитуру:
              .modal-body
                .form-horizontal
                  .form-group
                    label(for="furnityraEl").col-sm-3.control-label Элемент:
                    .col-sm-6
                      input(type="text", name="furnityraEl", placeholder="xxxxxx", id="furnityraEl").form-control
                  .form-group
                    label(for="furnityraType").col-sm-3.control-label Тип:
                    .col-sm-6
                      input(type="text", name="furnityraType", placeholder="xxxxxx", id="furnityraType").form-control
                  .form-group
                    label(for="furnityraColor").col-sm-3.control-label Цвет:
                    .col-sm-6
                      select(name="furnityraColor", placeholder="Зеленый", id="furnityraColor").form-control
                        option(value="нет") не указан
                        option(value="Золото") Золото
                        option(value="Бронза") Бронза
                        option(value="Медь") Медь
                        option(value="Хром") Хром
                  .form-group
                    label(for="pagonazhCount").col-sm-3.control-label.label-two-line Кол - во:
                    .col-sm-6
                      input(type="text", name="pagonazhCount", placeholder="xxxxxx", id="pagonazhCount").form-control
                  .form-group
                    label(for="pagonazhSinglePrice").col-sm-3.control-label.label-two-line Цена ( за ед ):
                    .col-sm-6
                      input(type="text", name="pagonazhSinglePrice", placeholder="xxxxxx", id="pagonazhSinglePrice").form-control
              .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") Отмена
                button(type="button" class="btn btn-primary") Добавить к заказу