extends ../layouts/app

block content
  article.content
    header
      h1 Заказы
        a(href="/dashboard/orders/create").btn.btn-primary.pull-right
          i.fa.fa-plus
          | Создать заказ
    table.table
      theader
        tr
          th #
          th ID отдела
          th Отдел
          th Продавец
          th Покупатель
          th Телефон
      tbody
        if (Array.isArray(orders) && !!orders.length)
          each order, index in orders
            tr
              td= index + 1
              td= order.name
              td= order.slug
              td.table-controls
                a(href="/dashboard/orders/edit/#{order.id}").btn.btn-default.btn-primary
                  i.fa.fa-pencil
                a(href="/dashboard/orders/destroy/#{order.id}").btn.btn-default.btn-danger
                  i.fa.fa-trash
        else
          tr
            td(colspan="6").text-center
              i.fa.fa-cart
              | На данный момент заказов нет
