extends ../layouts/app

block content
  article.content
    header
      h1 Заказы
        a(href="/dashboard/orders/create").btn.btn-primary.pull-right
          i.fa.fa-plus
          | Создать заказ
    table.table
      thead
        tr
          th #
          th Отдел
          th Продавец
          th Продукт
          th Адрес доставки
          th Телефон
      tbody
        if (Array.isArray(orders) && !!orders.length)
          each order, index in orders
            tr
              td= index + 1
              td= order.departament
              td= order.user
              td= order.product
              td= order.address
              td= order.telephone
              td.table-controls
                a(href="/dashboard/orders/destroy/#{order.id}").btn.btn-default.btn-danger
                  i.fa.fa-trash
        else
          tr
            td(colspan="6").text-center
              i.fa.fa-cart
              | На данный момент заказов нет
