extends ../layouts/app

block content
  - var doorsTotalPrice = 0;
  - var pagonTotalPrice = 0;
  - var furnTotalPrice = 0;
  - var arkTotalPrice = 0;

  .block.block-info.container
    .col-md-12.row
      .col-md-6.col-sm-12
        h3 Продавец
        hr
        table.table.table-bordered.table-head-center
          tbody
            colgroup(width="200")
            tr
              td
                strong Отдел
              td= departament
            tr
              td
                strong Сотрудник
              td= user
            tr
              td
                strong Продукт
              td= product
            tr
              td
                strong Скидка
              td= discount + '%'
            tr
              td
                strong Доставка
              td= deliveryPrice + 'р'
            tr
              td
                strong Примечание
              td= comment
      .col-md-6.col-sm-12
        h3 Покупатель
        hr
        table.table.table-bordered.table-head-center
          tbody
            colgroup(width="200")
            tr
              td
                strong Дата изготовления
              td= manufactureDate
            tr
              td
                strong Дата доставки
              td= deliveryDate
            tr
              td
                strong ФИО
              td= fio
            tr
              td
                strong Адрес
              td= address
            tr
              td
                strong Телефон
              td= telephone
    .block.block-doors.col-sm-12
      h2 Двери
      table.table.table-bordered.table-head-center
        thead
          tr
            th #
            th Модель
            th Размер
            th Цвет
            th Тип
            th Стекло
            th Кол-во
            th Цена
              br
              |( за ед )
            th Цена
              br
              |( итог )
        tbody.text-center
          if (Array.isArray(doors) && !!doors.length)
            each door, index in doors
              - doorsTotalPrice += door.price * door.count;
              tr
                td= index + 1
                td= door.model
                td= door.width + 'x' + door.height
                td= door.color
                td= door.open
                td= door.glass
                td= door.count
                td= door.price + 'р'
                td= (door.price * door.count) + 'р'
        tfoot.furnityra-price
          tr
            td(colspan="7")
            td(colspan="1") Итого
            td(colspan="1")= doorsTotalPrice + 'р'
    .block.block-pagon.col-sm-12
      h2 Погонаж
      table.table.table-bordered.table-head-center
        thead
          tr
            th #
            th Тип
            th Цвет
            th Размер
            th Уплотнитель
            th Кол-во
            th Цена
              br
              |( за ед )
            th Цена
              br
              |( итог )
        tbody.text-center
          if (Array.isArray(pagonazsh) && !!pagonazsh.length)
            each pagon, index in pagonazsh
              - pagonTotalPrice += pagon.price * pagon.count;
              tr
                td= index + 1
                td= pagon.type
                td= pagon.color
                td= pagon.width + 'x' + pagon.height
                td= pagon.gaskit
                td= pagon.count
                td= pagon.price + 'р'
                td= (pagon.price * pagon.count) + 'р'
        tfoot.pagon-price
          tr
            td(colspan="6")
            td(colspan="1") Итого
            td(colspan="1")= pagonTotalPrice + 'р'
    .block.block-furnityra.col-sm-12
      h2 Фурнитура
      hr
      table.table.table-bordered.table-head-center
        thead
          tr
            th #
            th Элемент
            th Кол-во
            th Цена
              br
              |( за ед )
            th Цена
              br
              |( итог )
        tbody.text-center
          if (Array.isArray(furnityra) && !!furnityra.length)
            each furn, index in furnityra
              - furnTotalPrice += furn.price * furn.count;
              tr
                td= index + 1
                td= furn.name
                td= furn.count
                td= furn.price + 'р'
                td= (furn.price * furn.count) + 'р'
        tfoot.furn-price
          tr
            td(colspan="3")
            td(colspan="1") Итого
            td(colspan="1")= furnTotalPrice + 'р'
    .block.block-arki.col-sm-12
      h2 Арки
      hr
      table.table.table-bordered.table-head-center
        thead
          tr
            th #
            th Название
            th Размер
            th Вид
            th радиус
            th Цвет
            th Кол-во
            th Цена
              br
              |( за ед )
            th Цена
              br
              |( итог )
        tbody.text-center
          if (Array.isArray(arki) && !!arki.length)
            each arka, index in arki
              - arkTotalPrice += arka.price * arka.count;
              tr
                td= index + 1
                td= arka.name
                td #{arka.height} x #{arka.width} x #{arka.deep}
                td= arka.view
                td= arka.radius
                td= arka.color
                td= arka.count
                td #{arka.price} р
                td #{arka.price * arka.count} р
        tfoot.ark-price
          tr
            td(colspan="7")
            td(colspan="1") Итого
            td(colspan="1")= arkTotalPrice + 'р'
    .total-price.col-sm-12
      .clearfix
        .pricebox.pull-right
          table.table
            tbody
              tr
                td
                  strong Доставка:
                td(style="text-align: right;")= `${deliveryPrice}р`
              tr
                td
                  strong Скидка:
                td(style="text-align: right;")= `${discount}%`
              tr
                td
                  strong Общая цена:
                td(style="text-align: right;")= doorsTotalPrice + pagonTotalPrice + furnTotalPrice + arkTotalPrice + parseInt(deliveryPrice) + 'р'
              tr
                td
                  strong Общая цена с скидкой:
                td(width="150", style="text-align: right;")= doorsTotalPrice + pagonTotalPrice + furnTotalPrice + arkTotalPrice + parseInt(deliveryPrice) - (((doorsTotalPrice + pagonTotalPrice) / 100) * discount ) + 'р'
              tr
                td
                  strong Предоплата:
                td(style="text-align: right;")= `${prepay}р`
              tr
                td
                  strong Остаток:
                td(style="text-align: right;")= `${balance}р`
