extends ../layouts/app

block content
  - var paymentSumm  = 0;
  - var startYear    = 2016;
  - var currentYear  = new Date().getFullYear();
  - var currentMonth = new Date().getMonth();
  - var shiftsCount  = Object.keys(ozpShifts);
  article.content
    header
      h2 Отчет о ЗП
    table.table.table-bordered.print-xs
      thead
        tr.no-print
          th(colspan="8")
            form(action="/dashboard/ozp/filter", name="ozp", id="form-ozp-filter" method="POST", style="margin: 0;").form-inline
              fieldset
                legend Фильтр
                input(type="hidden", name="_csrf", value="#{csrf}")
                .form-group
                  label(for="ozp-year") Год:
                  select(name="year", id="ozp-year").form-control
                    while startYear < currentYear + 1
                      if(startYear === currentYear)
                        option(selected="selected")= startYear
                      else
                        option= startYear
                      - ++startYear
                .form-group
                  label(for="ozp-month") Месяц:
                  - var months = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']
                  select(name="month", id="ozp-month").form-control
                    each month, index in months
                      if (currentMonth === index)
                        option(value="#{index + 1}", selected="selected")= month
                      else
                        option(value="#{index + 1}")= month
                if (!!Object.keys(departaments).length)
                  .form-group
                    label(for="ozp-departament") Отдел:
                    select(name="departament", id="ozp-departament").form-control
                      option(value="") Любой
                      each departament, key in departaments
                        option(value="#{key}")= departament
                if (!!Object.keys(users).length)
                  .form-group
                    label(for="ozp-user") Сотрудник:
                    select(name="user", id="ozp-user").form-control
                      option(value="") Любой
                      each user, key in users
                        option(value="#{key}")= user
                .form-group.pull-right
                  input(type="submit", name="submit", class="btn btn-primary btn-ozp-filter", value="Показать")
                  button.btn.btn-primary.btn-print
                    i.fa.fa-print
        tr
          th.no-print #
          th(width="110") Сумма (р.)
          th.no-print Сотрудник
          th.no-print Отдел
          th(width="120") Дата
          th(width="140") Предоплата (р.)
          th(width="500") Адрес доставки или номер и дата заказа на самовывоз
          th.no-print(width="80")
      tbody
        if (Array.isArray(ozps) && !!ozps.length)
          each ozp, index in ozps
            - paymentSumm += ozp.amount != null ? parseInt(ozp.amount) : 0;
            tr
              td.no-print= index + 1
              td= ozp.amount != null ? ozp.amount : 0
              td.no-print= users[ozp.user]
              td.no-print= departaments[ozp.departament]
              td= moment(ozp.date).locale('ru').format('L')
              td= ozp.payment != null ? ozp.payment : 0
              td= ozp.address
              td.table-controls.no-print
                if (req.user.group === 'manager' || req.user.group === 'accountant')
                  a(href="/dashboard/ozp/destroy/#{ozp.id}").btn.btn-danger
                    i.fa.fa-trash
        else
          tr
            td(colspan="8").text-center
              i.fa.fa-cart
              | На данный момент отчетов нет
      tfoot
        tr
          td(colspan="6").no-print
          td(colspan="2")
            table.table.table-bordered
              tbody
                tr
                  td Итого:
                  td= `${paymentSumm} р.`
                if (shiftsCount && !!shiftsCount.length)
                  tr
                    td Аванс:
                    td= `${ozpShifts.amount}р.`
                  tr
                    td Кол-во смен:
                    td= 22
                else
                  tr
                    td Аванс:
                    td 0
                  tr
                    td Кол-во смен:
                    td 0
