extends ../layouts/app

block content
  - var paymentSumm = 0;
  - var startYear   = 2016;
  - var currentYear = new Date().getFullYear();
  article.content
    header
      h2 Отчет о ЗП
        button(type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modalOzp" style="margin-left: 15px") Добавить
        button(type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modalOzpShift") Аванс/Смены
      //- Modal
      .modal.fade#modalOzp(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
              h4(class="modal-title" id="myModalLabel") Добавить запись
            .modal-body
              form(action="/dashboard/ozp/store", name="ozp", id="form-ozp" method="POST", style="margin: 0;")
                input(type="hidden", name="_csrf", value="#{csrf}")
                .form-group
                  label(for="ozp-date") Дата:
                  input(type="text", name="date", id="ozp-date", value="#{ moment().locale('ru').format('L') }").form-control.makdoors-datepicker
                .form-group
                  label(for="ozp-amount") Сумма (р.):
                  input(type="text", name="amount", id="ozp-amount").form-control
                .form-group
                  label(for="ozp-payment") Предоплата (р.):
                  input(type="text", name="payment", id="ozp-payment").form-control
                .form-group
                  label(for="ozp-address") Адрес доставки или номер и дата заказа на самовывоз:
                  textarea(name="address", id="ozp-address").form-control
            .modal-footer
              button(type="button" class="btn btn-default" data-dismiss="modal") Закрыть
              button(form="ozp" class="btn btn-primary btn-ozp-send") Добавить в отчет
      //- Modal
      .modal.fade#modalOzpShift(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
              h4(class="modal-title" id="myModalLabel") Добавить запись
            .modal-body
              form(action="/dashboard/ozp/setShift", name="ozp", id="form-ozpShift" method="POST", style="margin: 0;")
                input(type="hidden", name="_csrf", value="#{csrf}")
                .form-group
                  label(for="ozpShift-date") Дата:
                  input(type="text", name="date", value="#{ moment().locale('ru').format('L') }").form-control.makdoors-datepicker
                .form-group
                  label(for="ozpShift-amount") Аванс (р.):
                  input(type="text", name="amount").form-control
                .form-group
                  label(for="ozpShift-payment") Кол - во смен:
                  input(type="text", name="count").form-control
            .modal-footer
              button(type="button" class="btn btn-default" data-dismiss="modal") Закрыть
              button(form="ozp" class="btn btn-primary btn-ozpShift-send") Добавить в отчет
    table.table.table-bordered
      thead
        tr.no-print
          th(colspan="7")
            form(action="/dashboard/ozp/filter", name="odds", id="form-odds-filter" method="POST", style="margin: 0;").form-inline
              fieldset
                input(type="hidden", name="_csrf", value="#{csrf}")
                .form-group
                  label(for="odds-year") Год:
                  select(name="year", id="odds-year").form-control
                    while startYear <= currentYear
                      option= startYear++
                .form-group
                  label(for="odds-mounth") Месяц:
                  select(name="mounth", id="odds-mounth").form-control
                    option(value="1") Январь
                    option(value="2") Февраль
                    option(value="3") Март
                    option(value="4") Апрель
                    option(value="5") Май
                    option(value="6") Июнь
                    option(value="7") Июль
                    option(value="8") Август
                    option(value="9") Сентябрь
                    option(value="10") Октябрь
                    option(value="11") Ноябрь
                    option(value="12") Декабрь
                .form-group.pull-right
                  input(type="submit", name="submit", class="btn btn-primary btn-odds-filter", value="Показать")
        tr
          th #
          th Дата
          th Сумма (р.)
          th Предоплата (р.)
          th Адрес доставки или номер и дата заказа на самовывоз
          th(colspan="2", width="230")
      tbody
        if (Array.isArray(ozps) && !!ozps.length)
          each ozp, index in ozps
            - paymentSumm += ozp.payment != null ? parseInt(ozp.payment) : 0;
            tr
              td= index + 1
              td= moment(ozp.date).locale('ru').format('L')
              td= ozp.amount != null ? ozp.amount : 0
              td= ozp.payment != null ? ozp.payment : 0
              td= ozp.address
              td.table-controls
                a(href="/dashboard/ozp/edit/#{ozp.id}").btn.btn-primary
                  i.fa.fa-pencil
                if (req.user.group === 'manager' || req.user.group === 'accountant')
                  a(href="/dashboard/ozp/destroy/#{ozp.id}").btn.btn-danger
                    i.fa.fa-trash
        else
          tr
            td(colspan="8").text-center
              i.fa.fa-cart
              | На данный момент отчетов нет
      tfoot
        tr
          td(colspan="5")
          td(colspan="3")
            table.table.table-bordered
              tbody
                tr
                  td Итого:
                  td= `${paymentSumm} р.`
                if (Array.isArray(ozpShifts) && !!ozpShifts.length)
                  tr
                    td Аванс:
                    td= `${ozpShifts[ozpShifts.length - 1].amount}р.`
                  tr
                    td Кол-во смен:
                    td= ozpShifts[ozpShifts.length - 1].count
                else
                  tr
                    td Аванс:
                    td 0
                  tr
                    td Кол-во смен:
                    td 0
